name: Build

on:
  push:
  pull_request:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            build_small: cp312-manylinux_x86_64
            build_full: cp3*-manylinux_x86_64
            CIBW_BEFORE_ALL: >
              yum -y install openblas-devel yum-utils &&
              yum-config-manager --add-repo https://developer.download.nvidia.com/compute/cuda/repos/rhel8/x86_64/cuda-rhel8.repo &&
              yum-config-manager --add-repo /project/.github/workflows/rocm.repo &&
              yum -y install cuda-nvcc-12-8 cuda-cudart-devel-12-8 cuda-thrust-12-8 libcublas-devel-12-8 libcurand-devel-12-8 rocm-hip-runtime-devel rocblas-devel rocrand-devel rocthrust-devel
            CIBW_REPAIR_WHEEL_COMMAND: >
              auditwheel repair
              --exclude libmadevent.so
              --exclude 'libcublas.so.*'
              --exclude 'libcurand.so.*'
              --exclude 'libcublasLt.so.*'
              --exclude 'libcudart.so.*'
              --exclude 'libamdhip64.so.*'
              --exclude 'libhipblaslt.so.*'
              --exclude 'librocblas.so.*'
              --exclude 'librocrand.so.*'
              --exclude 'libroctx64.so.*'
              -w {dest_dir} {wheel}
            CIBW_ENVIRONMENT: >
                PATH=$PATH:/usr/local/cuda/bin
                CMAKE_PREFIX_PATH=/opt/rocm
                HIPFLAGS=--gcc-toolchain=$(dirname $(which g++))/../..
                SKBUILD_CMAKE_ARGS="-DUSE_SIMD=1"

          - os: macos-14
            build_small: cp312-macosx_arm64
            build_full: cp3*-macosx_arm64
            MACOSX_DEPLOYMENT_TARGET: 14.5
            CIBW_REPAIR_WHEEL_COMMAND: >
              delocate-wheel
              --ignore-missing-dependencies
              --require-archs {delocate_archs} -w {dest_dir} -v {wheel}

    steps:
      - uses: actions/checkout@v5

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
            CIBW_BUILD: ${{ (github.event_name == 'release' || github.ref == 'refs/heads/main') && matrix.build_full || matrix.build_small }}
            CIBW_BEFORE_ALL: ${{ matrix.CIBW_BEFORE_ALL }}
            CIBW_REPAIR_WHEEL_COMMAND: ${{ matrix.CIBW_REPAIR_WHEEL_COMMAND }}
            CIBW_ENVIRONMENT: ${{ matrix.CIBW_ENVIRONMENT }}
            MACOSX_DEPLOYMENT_TARGET: ${{ matrix.MACOSX_DEPLOYMENT_TARGET }}
            CIBW_TEST_REQUIRES: >
              pytest
              numpy
              --extra-index-url https://download.pytorch.org/whl/cpu
              torch
            CIBW_TEST_COMMAND: pytest {project}/tests

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  publish-to-pypi:
    name: Publish to PyPI
    if: github.event_name == 'release' && github.event.action == 'published'
    needs:
      - build_wheels
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/madevent7
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v5
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  github-release:
    name: Sign with Sigstore, upload to GitHub Release
    needs:
      - publish-to-pypi
    runs-on: ubuntu-latest
    permissions:
      contents: write  # IMPORTANT: mandatory for making GitHub Releases
      id-token: write  # IMPORTANT: mandatory for sigstore
    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v5
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true
      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@v3.0.0
        with:
          inputs: ./dist/*.whl
      - name: Upload artifact signatures to GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        # Upload to GitHub Release using the `gh` CLI.
        # `dist/` contains the built packages, and the
        # sigstore-produced signatures and certificates.
        run: >-
          gh release upload
          '${{ github.ref_name }}' dist/**
          --repo '${{ github.repository }}'
